@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

/* .parentWrapper {
  background: linear-gradient(to right, #46d7cb, transparent);
} */
body {
  background: #f8f9fc !important;
  /* background: #F4F4F4 !important; */
}

.page_wrapper {
  position: relative;
  /* height: 100vh; */
  min-height: 100vh;
  width: 100%;
}

img {
  max-width: 100%;
}

main {
  flex-grow: 1;
  padding: 10px 0 50px 0px;
  z-index: 1202;
  position: relative;
  margin-left: 64px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #F8F9FC inset !important;
}

input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

main.closeDrawer {
  /* background: rgba(217,220,240,.1); */
  position: relative;
  /* height: 100vh; */
  /* width: 100%; */
  width: calc(100% - 64px);
  padding-bottom: 50px !important;
}

main.openDrawer {
  width: calc(100% - 264px);
  padding-bottom: 50px !important;
}

.css-1autqdf-MuiPaper-root-MuiDrawer-paper {
  height: 100%;
  background-color: rgba(217, 220, 240, 0.1);
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  border-right: none;
  /* background-color: #DAFDED; */
  height: 100%;
  background-color: rgba(217, 220, 240, 0.1);
}

/* Form field styles */
.MuiInputAdornment-root p {
  color: #33B7B8 !important;
  font-family: 'Poppins';
}

.MuiInputBase-formControl {
  border: none;
  background: #F8F9FC;
}

input {
  font-size: 14px;
  border: none;
  border-radius: 8px;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  color: #46D7CB;
  border: 2px solid #46D7CB;
  outline: #46D7CB;
}

.Mui-focused input {
  color: #222B45;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px,
}

.Mui-focused.MuiInputLabel-formControl {
  color: #46D7CB;
}

.MuiOutlinedInput-root {
  font-size: 14px;
}

/* radio checked color */
.css-pbe73e-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #46D7CB;
}

/* end form field styles */


/* .MuiTableBody-root :nth-of-type(2n) :not(.tableBodyRow) {
  background-color: rgba(0, 0, 0, 0.04);
} */
/* .MuiTableBody-root :nth-of-type(odd) :not(.tableBodyRow) {
  background-color: rgba(0,0,0,.04);
} */

/* .tablebodyRow :nth-of-type(2n+1) :not(.tableBodyRow) {
  background-color: rgba(0,0,0,.04);
} */
.CollapsedTableCell .MuiTableBody-root :nth-of-type(odd) :not(.tableBodyRow) {
  background-color: transparent !important;
  padding: 1px;
}

.CollapsedTableCell {
  /* background-color: transparent !important; */
  background-color: #f8f9fc;
  padding: 0;
  border-bottom: 0;
}

.MuiCollapse {
  background-color: transparent !important;
}

.css-9l5vo-MuiCollapse-wrapperInner {
  background-color: transparent !important;
}

tr.MuiTableRow-root.MuiTableRow-hover.makeStyles-tableBodyRow-60.tablebodyRow.css-1qkwuln-MuiTableRow-root:nth-of-type(4n + 1) {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

tr.MuiTableRow-root.MuiTableRow-hover.tablebodyRow.css-1qkwuln-MuiTableRow-root:nth-of-type(4n + 1) {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.css-1ex1afd-MuiTableCell-root {
  border: 1px solid rgba(178 179 181/10%);
}

.css-1wc848c-MuiFormHelperText-root {
  margin-left: 0;
  color: #d32f2f;
}

.css-r47a1p-MuiFormControl-root {
  width: 100%;
  margin-top: 1vmax;
  background: #fff;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  /* padding: 12.5px 14px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.css-1cvaz5h-MuiTypography-root-MuiLink-root {
  cursor: pointer;
}

.css-z7uhs0-MuiStepConnector-line {
  display: block;
  border-color: #46d7cb !important;
  border-top-style: solid;
  border-top-width: 3px !important;
}

.css-av4uzq-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #46d7cb !important;
}

.css-1kh1lxc-MuiStepIcon-text {
  fill: #fff !important;
}

.MuiTabPanel-root {
  padding: 0;
}

.custom-scrollbar {
  height: 28vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
  transition: ".3s all";
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

.mui_tableContainer_scrollBar::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar,
.custom-scrollbar *::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgb(236 234 234 / 6%);
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgb(236 234 234 / 6%);
}

.mui_tableContainer_scrollBar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgb(236 234 234 / 6%);
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(178 179 181 / 10%);
  min-height: 24;
  box-shadow: inset 1px 0px 5px #e4e9f2;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(178 179 181 / 10%);
  min-height: 24;
  box-shadow: inset 1px 0px 5px #e4e9f2;
}

.test {
  padding: 8px 15px !important;
  border-top: 1px solid #8F9BB3 !important;
  border-bottom: 1px solid #8F9BB3;
}

.mui_tableContainer_scrollBar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(178 179 181 / 10%);
  min-height: 24;
  box-shadow: inset 1px 0px 5px #e4e9f2;
}

.mui_tableContainer_scrollBar::-webkit-scrollbar-thumb:focus {
  background-color: #959595;
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:focus {
  background-color: #959595;
}

.custom-scrollbar::-webkit-scrollbar-thumb:focus {
  background-color: #959595;
}

.invalid-parentBox .MuiInputLabel-formControl {
  /*color: #FF3D71 !important;*/
  /*border: 1px solid #FF3D71 !important;*/
}

.invalid-parentBox input {
  /*color : #FF3D71 !important;*/
  /* border: 1px solid red !important;
  border-radius: 8px; */
}

.pr-2 {
  padding-right: 30px;
}

.pr-1 {
  padding-right: 15px;
}

.btn-outline {
  padding: 12px 24px !important;
  cursor: pointer;
  border-radius: 8px !important;
  border: 1px solid #2E3A59;
  color: #2E3A59 !important;
  font-size: 14px !important;
  white-space: nowrap;
  width: auto !important;
  display: inline-flex !important;
  max-width: 230px;
}

.is-invalid {
  /* border: 1px solid red !important;
  outline: 1px solid red !important; */
  color: #FF3D71;
  display: initial;
  font-weight: 500;
  font-size: 11px !important;
}

.formInputLabels {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-bottom: 4px;
  font-size: 11px;
  font-weight: 400;
  font-family: "Poppins";
}

.formInputLabels .labelClassName {
  color: #222b45;
  font-size: 14px;
  font-family: "Poppins";
}

.formInputLabels .errorTextBox p {
  line-height: 0;
}

/* validation text border */
.is-invalid+.MuiOutlinedInput-notchedOutline {
  border-color: #FF3D71 !important;
  border-width: 1px !important;
}

/* invalid input red border  */
.invalid-parentBox .MuiOutlinedInput-notchedOutline {
  border-color: #FF3D71 !important;
  border-width: 1px !important;
}

.invalid-parentBox+p {
  line-height: 0;
  /* margin-top: 0; */
  padding-bottom: 5px;
}

.is-invalid~.MuiInputLabel-formControl {
  color: #FF3D71 !important;
}

.is-invalid~.MuiOutlinedInput-notchedOutline {
  border-color: #FF3D71 !important;
  border-width: 1px !important;
}

.is-invalid+.css-133jqqq-MuiFormLabel-root-MuiInputLabel-root {
  color: #FF3D71 !important;
}

.is-invalid~.makeStyles-assessmentGroupsBox-45 .MuiTypography-root {
  color: #FF3D71 !important;
}

.is-empty {
  border-color: #FF3D71 !important;
  border-width: 1px !important;
  color: #FF3D71;
}

.is-commentBox-empty .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #FF3D71 !important;
  border-width: 1px !important;
}

.is-comment-empty {
  color: #FF3D71;
}

.css-2dum1v-MuiDrawer-docked {
  transition: 0.5s all;
}

.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
  transition: 0.5s all;
}

.css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper {
  transition: 0.5s all;
}

.bottomPushIcon {
  position: absolute;
  /* top: 58%; */
  /* top: 68%; */
  bottom: 0;
  text-align: center;
  width: inherit;
}

.bottomPushIcon:nth-last-child(1) {
  bottom: 0%;
}

.bottomPushIcon:nth-last-child(2) {
  bottom: 7%;
}

.bottomPushIcon:nth-last-child(3) {
  bottom: 15%;
}

/* .drwawer_UN {
  position: absolute;
  width: 10vw;
  text-overflow: ellipsis;
  left: 16%;
  top: 1%;
  white-space: pre-wrap;
  overflow: hidden;
} */

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 100px;
  background: orange;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.back-to-top:hover {
  background: red;
}

/* .lazyloaded:after {
  opacity: 0;
}
.lazyloaded {
  animation: fadeIn .65s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.tiles_custom_scrollbar {
  height: 19vmax;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 0;
  transition: ".3s all";
}

.moveCard .move_cb_card {
  border: none !important;
}

.moveCard .move_cb_card p {
  display: none !important;
}

.tiles_custom_scrollbar::-webkit-scrollbar,
.tiles_custom_scrollbar *::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

.tiles_custom_scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgb(236 234 234 / 6%);
}

.tiles_custom_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(178 179 181 / 10%);
  min-height: 24;
  box-shadow: inset 1px 0px 5px #e4e9f2;
}

.tiles_custom_scrollbar::-webkit-scrollbar-thumb:focus {
  background-color: #959595;
}

/* make styles css */

.MuiDrawer-paper {
  border-right: none;
  /* background-color: rgb(217, 220, 240); */
  height: 100%;
  background-color: rgba(217, 220, 240, 0.1);
  /* background: linear-gradient(to bottom, #46d7cb, #d8cdcd);; */
}

.phoneIconBox svg {
  color: #fff;
  font-size: 18px;
}

.closeIconBox svg {
  color: #fff;
  font-size: 20px;
}

.closeIconBox {
  width: 3vmax;
  cursor: pointer;
  display: flex;
  padding: 5px;
  background: #46d7cb;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
}

.MuiInputBase-formControl {
  border: 1px solid #e4e9f2;
  background: #f8f9fc;
  /* border-radius: 8px 0 0 8px; */
}

.jss206 .MuiInputBase-formControl {
  border: 1px solid #e4e9f2;
  background: #f8f9fc;
  border-radius: 8px 0 0 8px;
}

.ugselect {
  border: 0;
  outline: none;
  color: #929cb0;
}

.ugselect:before {
  border-color: #46d7cb !important;
}

.ugselect:hover:not(.Mui-disabled):before {
  border-color: #46d7cb !important;
}

.ugselect .css-qiwgdb.css-qiwgdb.css-qiwgdb {
  padding-top: 0;
  padding-bottom: 0;
}

.nativeSelect .Mui-focused {
  border: 1px solid #46d7cb !important;
}

.formContent label[data-shrink="false"]+.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border: 1px solid #e4e9f2;
  background: #f8f9fc;
  border-radius: 8px 0 0 8px;
  padding-bottom: 11px;
}

label[data-shrink="false"]+.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border: 1px solid #e4e9f2;
  background: #f8f9fc;
  border-radius: 8px 0 0 8px;
}

tr.MuiTableRow-root.MuiTableRow-hover:nth-of-type(4n + 1) {
  background-color: rgba(0, 0, 0, 0.04);
}

.tableBody_client td:not(:first-child) {
  text-align: center;
}

.tableBody_coach tr:nth-of-type(2n + 1) {
  padding: 8px 16px;
}

.tableBody_coach tr:nth-of-type(2n + 1) .MuiTableCell-body {
  padding: 8px 16px;
}

.tableBody_coach .MuiTableCell-body {
  padding: 8px 16px !important;
}

.tableBody_coach tr:nth-of-type(2n + 1) {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.tableBody_tiles tr:nth-of-type(2n + 1) {
  padding: 8px 16px;
}

.tableBody_tiles tr:nth-of-type(2n + 1) .MuiTableCell-body {
  padding: 8px 16px;
}

.tableBody_tiles .MuiTableCell-body {
  padding: 8px 16px !important;
}

.tableBody_tiles tr:nth-of-type(2n + 1) {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

/* .tableBody_workoutLogger tr:nth-of-type(2n + 1) {
  padding: 8px 16px;
}
.tableBody_workoutLogger tr:nth-of-type(2n + 1) .MuiTableCell-body{
  padding: 8px 16px;
}
.tableBody_workoutLogger .MuiTableCell-body {
  padding: 8px 16px !important;
} */
.tableBody_workoutLogger tr:nth-of-type(2n + 1) {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.mui_grid_item .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0 1vmax;
}

.bloodworkScoreBox_scrollbar {
  height: 17.1vmax;
}

.custom-scrollbar .tbSquare {
  flex: 1 1 35%;
}

.jss34 .MuiSelect-select {
  padding-top: 0;
  padding-bottom: 0;
}

/* make styles css */

input[type="tel"] {
  padding: 8.5px 14px;
  height: auto;
}

.MuiSvgIcon-root[data-testid="CalendarIcon"] {
  font-size: 2vmax;
}

/* Custom Progress circular loader */
.circularProgressLoader {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.circularProgressLoader .MuiCircularProgress-indeterminate {
  width: 30px !important;
  height: 30px !important;
}

.circularProgressLoader .MuiCircularProgress-indeterminate svg {
  color: rgb(70, 215, 203) !important;
}

/* New Dashboard styles */
.ratingBox svg {
  width: 24px;
  height: 24px;
}

.MuiRating-iconEmpty {
  color: #2e3a59 !important;
}

.MuiRating-iconFilled {
  color: #ffc94d;
}

.goBackLink {
  color: #2b2f3b;
  text-decoration: none;
}

.chevronLeftIcon {
  color: #46d7cb;
  background: transparent !important;
  font-size: 28px;
}

/* slick   */
.slick-slider {
  width: 70vw;
  float: right;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.ct_tableRow .slick-next {
  right: 0;
}

.ct_tableRow .slick-prev {
  left: 0;
}

.ct_tableRow .slick-prev,
.ct_tableRow .slick-next {
  width: 30px;
  height: 30px;
}

/* .ct_tableHead .slick-arrow {
  display: "block"
} */
.ct_tableBody .slick-arrow {
  display: none !important;
}

/* Measurement Drawer */
.measurementSwipeableDrawer {
  z-index: 1204 !important;
}

.measurementSwipeableDrawer .msd_headerBox {
  padding: 25px 20px 0;
}

.measurementSwipeableDrawer .MuiDrawer-paper {
  background: #fff !important;
  /* background-color: #F8F9FC !important; */
  overflow-x: hidden;
  overflow: auto;
  /* width: 466px; */
  box-shadow: 10px 4px 20px 10px rgba(143, 155, 179, 0.25);
  border-left: 1px solid #46d5cd;
}

.measurementSwipeableDrawer .MuiDrawer-paper .actionDrawerHeading,
.measurementSwipeableDrawer .MuiDrawer-paper .MuiIconButton-root {
  color: #222b45;
}

.measurementDrawer .PrivateSwipeArea-root {
  display: none;
}

.MuiLink-root {
  color: #33b7b8;
  cursor: pointer;
}

.signinForm .MuiOutlinedInput-input:-webkit-autofill {
  border-radius: 8px 0 0 8px !important;
}

.is-invalid+[data-testid="RadioButtonUncheckedIcon"] {
  color: red;
}

.Mui-checked {
  color: #789795;
}

.MuiSwitch-switchBase.Mui-checked {
  color: #46d7cb;
}

.MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: #46d7cb;
}

.MuiSwitch-switchBase:hover,
.MuiSwitch-switchBase.Mui-checked:hover {
  background: transparent;
}

.backtoLink {
  color: #2b2f3b;
  text-decoration: none;
  /* padding-bottom: 10px; */
  width: 165px;
}

.backtoLink:hover,
.backtoLink:focus,
.backtoLink:active,
.backtoLink:focus-visible {
  text-decoration: none;
  outline: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.backtoLink p:hover,
.backtoLink p:focus,
.backtoLink p:active {
  text-decoration: none;
  outline: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

/*calendar*/
[data-testid="ChevronLeftIcon"] {
  color: #46d7cb;
  background: transparent !important;
}

[data-testid="ChevronRightIcon"] {
  color: #46d7cb;
  background: transparent !important;
}

button:disabled [data-testid="ChevronLeftIcon"] {
  color: #ccc;
  background: transparent !important;
}

button:disabled [data-testid="ChevronRightIcon"] {
  color: #ccc;
  background: transparent !important;
}

.MuiPickersPopper-paper {
  border-radius: 20px !important;
}

.MuiPickersPopper-paper * {
  font-family: poppins !important;
  font-size: 15px;
}

.MuiPickersPopper-paper .MuiPickersCalendarHeader-label {
  font-size: 17px;
}

.MuiPickersPopper-paper [data-testid="ChevronLeftIcon"],
.MuiPickersPopper-paper [data-testid="ChevronRightIcon"] {
  font-size: 30px;
}

.Mui-selected {
  background-color: transparent !important;
  /*border: 1px solid #0989e3;*/
}

.MuiDayPicker-weekContainer {
  margin: 3px 0;
}

/*calendar ends here*/

/***** Left Sidebar Navigation ****/

.MuiDrawer-paper {
  box-shadow: 10px 4px 20px 10px rgb(143 155 179 / 25%);
}

.MuiDrawerCollapse .MuiList-root {
  padding-bottom: 0;
}

.MuiDrawer-paper .MuiListItemButton-root {
  transition: all 0.2s ease;
  margin: 0 8px;
  color: #222b45;
  font-size: 14px;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.MuiDrawer-paper .parentList {
  padding-bottom: 0;
  padding-top: calc(20px - 8px);
}

.MuiDrawer-paper .parentListLast {
  padding-bottom: 0;
  padding-top: calc(20px - 8px);
  border-bottom: 1px solid #E4E9F2;
  margin-bottom: 2px !important;
  padding-bottom: 6px !important;
}


.MuiDrawer-paper .MuiList-root:nth-of-type(1) {
  border-bottom: 1px solid #E4E9F2;
  margin-bottom: 2px !important;
  padding-bottom: 6px !important;
}

/* .MuiDrawer-paper .MuiList-root:nth-of-type(8) {
  border-bottom: 1px solid #E4E9F2;
  margin-bottom: 2px !important;
  padding-bottom: 6px !important;
} */

.bottomMenu .MuiList-root:nth-of-type(1) {
  border-top: none;
  border-bottom: none !important;
}

.MuiDrawer-paper .MuiListItemIcon-root {
  margin-right: 16px;
}

.MuiDrawerCollapse .MuiListItemButton-root {
  margin: 0 16px;
}

.MuiDrawer-paper .MuiListItemButton-root .MuiTypography-root {
  line-height: 20.6px;
  font-size: 14px;
  font-weight: 500;
}

.MuiDrawerCollapse .MuiListItemButton-root {
  min-height: 20px;
}

.MuiDrawerCollapse .MuiList-padding {
  padding-top: 0;
}

.MuiDrawerCollapse .MuiList-padding:first-child {
  padding-top: 5px;
}

.MuiDrawerCollapse .MuiList-padding:last-child {
  padding-bottom: 5px;
}

.MuiDrawerCollapse .MuiListItemButton-root .MuiTypography-root {
  line-height: 15.6px;
  font-size: 12px;
  font-weight: 500;
}

.MuiDrawer-paper .MuiListItemButton-root img {
  width: 24px;
  height: 24px;
}

.MuiDrawerCollapse .MuiListItemButton-root img {
  width: 20px;
  height: 20px;
}

.MuiDrawer-paper .MuiListItemButton-root svg {
  width: 24px;
  height: 24px;
}

.logOutIcon svg {
  width: 21px !important;
  height: 21px !important;
  margin-left: 4px;
}

.MuiDrawerCollapse .MuiListItemButton-root svg {
  width: 20px;
  height: 20px;
}

.MuiDrawer-paper .MuiListItemButton-root:hover .MuiTypography-root {
  font-weight: 600;
  /* line-height: 24px; */
}

.MuiDrawer-paper .MuiListItemButton-root:hover {
  /* background: #33b7b8;
  color: #fff; */
  background: #f8f9fc;
  margin: 0 8px;
  border-radius: 8px;
  font-weight: 600;
}

.MuiDrawerCollapse .MuiListItemButton-root:hover {
  margin: 0 16px;
}

.MuiDrawer-paper .MuiListItemButton-root:hover svg {
  font-weight: 600;
}

.MuiDrawer-paper .selectedNavigationItem {
  color: #46d7cb;
}

.MuiDrawer-paper .selectedNavigationItem:hover .MuiTypography-root {
  font-weight: 600;
}

/* .MuiDrawer-paper .selectedNavigationItem:hover img {
  filter: invert(91%) sepia(77%) saturate(2117%) hue-rotate(137deg) brightness(91%) contrast(82%) !important;
} */

.MuiDrawer-paper .selectedNavigationItem:hover .MuiAvatar-img {
  filter: invert(91%) sepia(77%) saturate(2117%) hue-rotate(137deg) brightness(91%) contrast(82%);
}

.MuiDrawer-paper .selectedNavigationItem .MuiTypography-root {
  font-weight: 600;
}

/* .MuiDrawer-paper .selectedNavigationItem img {
  filter: invert(91%) sepia(77%) saturate(2117%) hue-rotate(137deg) brightness(91%) contrast(82%) !important;
} */

.MuiDrawer-paper .selectedNavigationItem svg {
  color: #46d7cb;
}

.MuiDrawer-paper .selectedNavigationItem .MuiAvatar-img {
  filter: invert(91%) sepia(77%) saturate(2117%) hue-rotate(137deg) brightness(91%) contrast(82%);
}

.selectedMenuItem img {
  filter: invert(91%) sepia(77%) saturate(2117%) hue-rotate(137deg) brightness(91%) contrast(82%);
}

.selecteAppBardIcon img {
  filter: invert(91%) sepia(77%) saturate(2117%) hue-rotate(137deg) brightness(91%) contrast(82%);
}

.selecteAppBardIcon span {
  color: #46d7cd;
}

.selecteAppBardIcon svg {
  color: #46d7cb;
}

.selectedMenuItem {
  color: #46d7cb;
}

.selectedMenuItem .MuiTypography-root {
  color: #46d7cb;
  font-family: "Poppins";
}

.MuiMenuItem-root {
  margin: 0 8px;
  border-radius: 8px;
}

.MuiMenuItem-root:hover {
  background: #f8f9fc;
}

.selectedMenuItem:hover {
  background: #f8f9fc;
  /* font-weight: 600; */
}

.appBarMenuItem .MuiTypography-root {
  /* line-height: 20.6px;
  font-size: 16px;
  font-weight: 500; */
  font-size: 14px;
  font-family: "Poppins";
  color: #222b45;
}

.appBarMenuItem .MuiTypography-root:hover {
  font-weight: 600;
}

.mui_tablist_top .MuiTab-root.Mui-selected::after {
  content: "";
  position: absolute;
  left: 55%;
  /* left: 380px; */
  bottom: 5px;
  height: 4px;
  width: 12px;
  border-radius: 4px;
  border-bottom: 6px solid #222b45;
}

.disabledBackground {
  pointer-events: none;
}

.pageHeading {
  /* color: #33b7b8 !important; */
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1;
}

.mui_tablist_top {
  align-items: center;
}

/* .mui_tablist_top .MuiTabs-flexContainer {
  justify-content: center;
} */
.mui_sub_tablist {
  align-items: center;
}

.mui_tablist_top .MuiTabScrollButton-root.Mui-disabled,
.mui_sub_tablist .MuiTabScrollButton-root.Mui-disabled {
  opacity: 0.8;
}

/* .mui_tablist_top .MuiTabs-scrollButtons {
  width: 30px;
} */
/* .mui_tablist_top .MuiTabs-scrollButtons svg {
  color: #46d7cb;
} */
.mui_tablist_top .MuiTabs-scrollButtons .MuiSvgIcon-fontSizeSmall {
  font-size: 35px;
}

.mui_sub_tablist .MuiTabs-scrollButtons .MuiSvgIcon-fontSizeSmall {
  font-size: 30px;
}

.mui_tablist_top .MuiTabScrollButton-root.Mui-disabled svg,
.mui_sub_tablist .MuiTabScrollButton-root.Mui-disabled svg {
  opacity: 0.6;
}

/* Activity logger list table */
.activityLoggerListBox .PrivateSwitchBase-root {
  /* display: none; */
  padding: 0;
}

.activityLoggerListBox .MuiFormControlLabel-labelPlacementEnd {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.activityLoggerListBox [role="radiogroup"] {
  column-gap: 5px;
}

.activityLoggerListBox .MuiFormControlLabel-label {
  /* border: 1px solid #49F3F3; */
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 14px;
  color: #222b45;
  font-family: "Poppins";
  font-weight: 400;
}

.activityLoggerListBox .Mui-checked {
  color: #33b7b8;
}

/* .activityLoggerListBox .Mui-checked ~ .MuiFormControlLabel-label {
  background: #C8F8F9;
} */
.clientName {
  font-family: "Poppins";
  font-size: 20px;
  color: #222b45;
}

.clientName strong {
  padding-right: 8px;
}

.border_divider {
  /* border: 1px solid #33b7b8; */
  border-color: #33b7b8;
  /* border-bottom-width: inherit; */
  margin: 16px 0;
  opacity: 0.5;
}

.MuiNativeSelect-root:before {
  border-bottom: none;
}

.MuiNativeSelect-root:hover.Mui-focused:before {
  border-bottom: none;
}

.MuiNativeSelect-root:hover:not(.Mui-disabled):before {
  border-bottom: none;
}

.MuiNativeSelect-root:after {
  border-bottom: none;
}

.MuiTablePagination-select:focus {
  background-color: transparent;
  outline: none;
}

.MuiAutocomplete-popupIndicator {
  display: none;
}

/* .MuiAutocomplete-endAdornment {
  display: none;
} */

.MuiBadge-badge {
  top: 10px;
  right: 10px;
}

.hideUnderline.Mui-selected::after {
  display: none;
}

.hideUnderline.Mui-selected svg {
  color: grey !important;
  opacity: 0.8;
}

.overviewTilesSlider.slick-slider {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.overviewTilesSlider .slick-slide {
  padding: 8px;
  height: 176px;
}

.overviewTilesSlider .slick-prev {
  left: -10px;
  width: 30px;
  z-index: 1;
}

.overviewTilesSlider .slick-next {
  right: -10px;
  width: 30px;
  z-index: 1;
}

/* .clientSearch {
  position: fixed;
  
} */

/* Chat component */
.chatbox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 75vh;
}

.chatMessage {
  overflow: auto;
  position: absolute;
  bottom: 15px;
  max-height: 73vh;
}

.animatedIcon {
  color: #46d7cb;
  cursor: pointer;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.animatedIcon:hover {
  color: #33b7b8;
  transform: scale(1.2);
  background: transparent;
}

.animatedRedIcon {
  color: #FF708D;
}

.animatedRedIcon:hover {
  color: #FF708D;
}

.drawerContentStyles .drawerActionSidebarCard {
  height: auto;
  min-height: 150px;
}

.nutritionOverview .flatProgressItem {
  margin-bottom: 50px;
}

.activeCycling::after,
.activeSwimming::after,
.activeRunning::after {
  content: "";
  position: absolute;
  left: 55%;
  /* left: 380px; */
  top: 18px;
  height: 4px;
  width: 12px;
  border-radius: 4px;
  border-bottom: 4px solid #222b45;
}

/*css added for new layout*/
.logoImg {
  /* max-width: 50px; */
  width: 24px;
  height: 24px;
}

.coloDark {
  color: #000 !important;
}

.header-hamburger {
  margin-left: 5px;
  /* background-color: rgba(0, 0, 0, 0.08); */
  background-color: rgb(248, 249, 252);
  margin-right: -32px;
  padding: 0 0 0 3px;
  width: 24px;
  height: 24px;

}

.colorDefault {
  color: #8F9BB3 !important;
}

.makeStyles-mui_header-4 .MuiIconButton-root:hover {
  background-color: rgb(248, 249, 252) !important;
}

.hideSidebar,
.hideSidebar .MuiDrawer-paper {
  /* width: 100px; */
  width: 64px;
  transition: .6s all;

}

.showSidebar {
  z-index: 10000000;
  position: relative;
}

.showSidebar .MuiDrawer-paper {
  transition: .6s all;
}

.bottomMenu {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* margin-top: 119px; */
  background: #fff;
}

.showSidebar .MuiDrawer-paper .MuiListItemButton-root .MuiTypography-root,
.brandLogo {
  -webkit-transition: opacity 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  transition: opacity 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.hideSidebar .MuiDrawer-paper .MuiListItemButton-root .MuiTypography-root {
  opacity: 0;
  -webkit-transition: opacity 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  transition: opacity 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.hideSidebar .MuiDrawer-paper .MuiListItemIcon-root {
  justify-content: center;
  display: flex;
  margin-right: 0;
}

.showSidebar .MuiDrawer-paper .MuiListItemIcon-root,
.showSidebar .MuiDrawer-paper .MuiListItemButton-root .MuiTypography-root {
  display: inline-flex;
}

.css-vl2xwt-MuiDrawer-docked .MuiDrawer-paper {
  box-shadow: none;
  border-color: #C5CEE0;
}

.MuiDrawer-paper {
  -webkit-transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}


.pictureLayout .mui_headerForPictureLayout {
  width: 40%;
  background: white;
  left: 0;
}


/*new layout ends here */

.invalid {
  color: #FF3D71;
}

.valid {
  color: #00D68F;
}

/* Search field popup styles */
/* [aria-owns='client-listbox'] .MuiInputBase-formControl {
  border: none !important;
  border-top: 1px solid #C5CEE0 !important;
  border-left: 1px solid #C5CEE0 !important;
  border-right: 1px solid #C5CEE0 !important;
  border-radius: 10px 10px 0 0 !important;
}
.MuiAutocomplete-paper {
  border: none;
  border-left: 1px solid #C5CEE0;
  border-right: 1px solid #C5CEE0;
  border-bottom: 1px solid #C5CEE0;
  border-radius: 0 0 10px 10px;
}

.MuiAutocomplete-listbox {
  border-top: 1px solid #C5CEE0;
}
.MuiAutocomplete-option {
  padding-left: 15px;
  padding-right: 15px;
} */


.navigation-scrollbar {
  height: 90vh;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  /* padding-right: 20px; */
  transition: .3s all;
}

.navigation-scrollbar::-webkit-scrollbar,
.navigation-scrollbar *::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}

.navigation-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgb(236 234 234 / 6%);
}

.navigation-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(178 179 181 / 30%);
  min-height: 24;
  box-shadow: inset 1px 0px 5px #e4e9f2;
}

.navigation-scrollbar::-webkit-scrollbar-thumb:focus {
  background-color: #959595;
}

.datePickerBox {
  padding: 5px;
  border-top: 1px solid #0BAECA;
  background-color: #fff;
  border-bottom: 1px solid #0BAECA;
}

.datePickerBox * {
  font-family: poppins !important;
}

.overrideChipIcon {
  padding: 0 !important;
  margin-left: 5px;
}

.overrideChipIcon .MuiChip-label {
  padding: 5px 10px 5px 5px !important;
  font-family: 'Poppins';
  font-size: 11px;
  font-weight: 400;
}

.overrideChipIcon .MuiChip-avatarSmall {
  margin-left: 8px !important;
  margin-right: 0px;
}

/* .MuiAvatar-root p {
  font-family: 'Poppins';
} */
.cb_card {
  background: #fff;
  border-radius: 10px;
  padding: 2vmax;
  box-shadow: 0px 56px 22px rgba(143, 155, 179, 0.01), 0px 32px 19px rgba(143, 155, 179, 0.05), 0px 14px 14px rgba(143, 155, 179, 0.09), 0px 4px 8px rgba(143, 155, 179, 0.1), 0px 0px 0px rgba(143, 155, 179, 0.1);
  border: none !important
}

.pt-0 {
  padding-top: 0 !important;
}

.p-2 {
  padding: 16px;
}

.bgGray {
  background: #F8F9FC;
  border: 1px solid #E4E9F2;
  border-radius: 8px;
  margin-bottom: 16px;
}

.cb_card .MuiAccordion-root,
.cb_card .MuiAccordionDetails-root {
  padding: 0px !important;
  box-shadow: none !important;
}

.wd10 {
  display: flex;
}

.wd10 svg {
  width: 14px;
  margin-right: 2px;
  fill: #231F20;
  height: 14px;
  cursor: pointer;
}

/* .MuiModal-root .MuiPopover-paper {
    box-shadow: none!important
} */
.MuiModal-root .MuiPopover-paper li.MuiMenuItem-root {
  font-size: 14px;
  font-family: 'Poppins';
}

.MuiModal-root .MuiPopover-paper li.MuiMenuItem-root.Mui-selected {
  background-color: aliceblue !important;
}

.pt-2 {
  padding-top: 16px !important;
}

.loginInstructionsWrapper {
  border-bottom: 1px solid #E4E9F2;
  margin-bottom: 16px;
}

.loginInstructionsWrapper .MuiFormLabel-root {
  font-family: 'Poppins' !important;
  font-size: 10px !important;
  padding-bottom: 0px !important;
}

.loginInstructionsWrapper .MuiOutlinedInput-root.MuiInputBase-colorPrimary.Mui-disabled {
  background-color: transparent;
}

.loginInstructionsWrapper .Mui-disabled .MuiOutlinedInput-notchedOutline {
  border: 0px none !important;
}

.loginInstructionsWrapper .MuiOutlinedInput-input.Mui-disabled {
  padding: 6px 0 16px 0 !important;
}

.subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #222B45;
  margin-bottom: 8px;
}

.subtitleContent {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #222B45;
  margin-bottom: 16px;
}

.bodyLink {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #46D7CB;
  text-decoration: none;
}

.col2 {
  display: flex;
  justify-content: space-between;
}

.editCol .MuiButton-root {
  background-color: transparent !important;
  min-width: auto;
}

.editCol .Mui-disabled {
  cursor: not-allowed;
  pointer-events: visible;
  background-color: transparent;
}

.editCol .Mui-disabled * {
  cursor: not-allowed;
}

.editCol .Mui-disabled svg {
  cursor: not-allowed;
}

.editCol .Mui-disabled svg path {
  fill: #ccc !important;
  cursor: not-allowed;
}


.toggleClient {
  display: flex;
  margin-top: -28px;
  align-self: flex-end;
}

.toggleClient .MuiSwitch-root {
  margin-top: -11px;
}

.sourceWrapper {
  position: absolute;
  right: 25px;
  top: 105px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sourceWrapper span {
  text-transform: capitalize;
  font-size: 11px;
}

tr.color {
  background-color: red;
  border-top: 1px solid red !important;
  border-bottom: 1px solid red !important;
}

.strengthCard {
  box-shadow: 0px 56px 22px rgba(143, 155, 179, 0.01), 0px 32px 19px rgba(143, 155, 179, 0.05), 0px 14px 14px rgba(143, 155, 179, 0.09), 0px 4px 8px rgba(143, 155, 179, 0.1), 0px 0px 0px rgba(143, 155, 179, 0.1) !important;
  border-radius: 10px !important;
  border: none !important;


}

.strengthMain {
  display: flex;

}

.strengthLeft {
  width: 35% !important;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  flex: 1 1 35%;
}
.strengthLeft .strengthGrid .strengthleftBottom, .strengthLeft .strengthGrid .strengthleftTop {
  height: auto;
}
/* .strengthLeft .strengthGrid .strengthleftTop {
  height:70%;
}
.strengthLeft .strengthGrid .strengthleftBottom {
  height: 30%

} */

.strengthRight {
  width: 65%;
}

.strengthGrid-2 {
  height: 100%;
}

.strengthRight .strengthGrid-2 .strengthleftTop {
  height: 100%;

}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.d-flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}
.flex-end{
  justify-content: flex-end;
}


.mt-5 {
  margin-top: 40px;
}
.mt-2 {
  margin-top: 16px;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}
.mt-3 {
  margin-top: 24px;
}
.mr-2 {
  margin-right: 16px;
}

.activityLogTab .MuiTab-root {
  border: none;
}

.activityLogTab .MuiTabs-root .MuiTab-root.Mui-selected {
  border: none;
}

.activityLogTab .MuiTabs-root .MuiTab-root.Mui-selected:before {
  content: "";
  position: absolute;
  border: 1px solid #222B45;
  bottom: 0;
  width: 8px;
  left: calc(100% - 60px);
}

.strengthTileSubLabel {
  font-weight: 400;
  font-size: 14px;
  color: #8F9BB3;
}
.strengthMain .TabBox p{
  font-weight: 400;
font-size: 11px;
color: #222B45;

}
.strengthMain .scoreDriveProgressBar{
  width:60%;

}
.strengthRight .strengthRightBox {
  height:auto;

}
.strengthRight .strengthCard .overviewCard {
  height: 100%;
}
.w-50{
  width:50%
}


.padding-left{
  padding-left: 12%;
}
.enduranceProgress {
  max-width: 146px;
  margin:0 auto;
}
.enduranceProgress p{
  width: auto;
  overflow: visible;
}
.enduranceProgress .nourish_progress{
  justify-content: flex-end;
}
.enduranceProgress .nourish_progress p{
  margin-right: 5px;
}
.circularProgressBoxWidth .MuiBox-root{
  display: flex;
  flex-direction: column;
}
.circularProgressBoxWidth .MuiBox-root p:first-child{
  order: 2;
}
.circularProgressBoxWidth .MuiBox-root p span{font-size: 22px;}
.circularProgressBoxWidth  .CircularProgressbar-trail{stroke-width: 1;}
.circularProgressBoxWidth .MuiBox-root p:last-child{
  order: 1;
  color:rgb(197, 206, 224);
  line-height: 1;
}
.enduranceTopData{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  min-height: 40px;
}
.responive-mobility-responsive{
  align-items: center;
}
.enduranceTopData span{
  font-size: 14px;
  display: inline-block;
  margin-left: 10px;
  font-weight: 600;
  color: #222B45;
  line-height: 24px;
}
.strengthGrid-2-height .strengthRightBox{
  height:100%;
}

.strengthMain .enduranceProgress .scoreDriveProgressBar{
  width: 80%;
  margin-left: 5px;
}


@media (max-width: 1920px) {
  .overviewGrid .overviewCard {
    height: 385px !important;
  }

  .overviewGrid .overviewTileItem>.MuiBox-root {
    height: 180px !important;
  }
}

@media (max-width: 1600px) {
  .overviewGrid .overviewCard {
    height: 360px !important;
  }

  .overviewGrid .overviewTileItem>.MuiBox-root {
    height: 168px !important;
  }
}

@media (max-width: 1500px) {
  .overviewGrid .overviewCard {
    height: 348px !important;
  }

  .overviewGrid .overviewTileItem>.MuiBox-root {
    height: 162px !important;
  }
}

@media (max-width: 910px) {
  .toggleClient {
    display: flex;
    margin-top: 20px;
    align-self: flex-start;
  }
}

@media (max-width: 767px) {
  .sourceWrapper {
    top: 85px;
  }
 
}

@media (max-width: 480px) {
  .cardResponsive .pr-2 {
    padding-right: 0 !important;
  }

  .cardResponsive .pr-1 {
    display: none;
  }
}

@media (max-width: 450px) {
  .footRow {
    flex-direction: column !important;
  }
}
@media (max-width: 767px) {
  .strengthMain{
    flex-direction:column;

  }
  .strengthLeft{
    width: 100% !important;
  }
  .strengthRight{
    width: 100% !important;
    margin-top:30px;
  }
  .strengthMain .scoreDriveProgressBar {
    width:50%;
  }
  .responive-mobility{
    flex-direction:column
  }
  .full-width{
    width:100%
  }
  .img-responsive {
    width:100%;
    margin-top:40px;
    justify-content:center;
    padding-left:0;
  }
  
  
}

.pagination {
 display: flex;
 flex-direction: row;
 justify-content: center;
 list-style-type: none;
 align-items: center;
}
.page-link {
  text-decoration: none;
  padding: 0.375rem 0.75rem;
}
.page-item {
  cursor: pointer;
  text-decoration: none;
  z-index: 3;
  color:#46D7CB;
  font-size: 12px;
}
.page-item.disabled {
  cursor: default;
  text-decoration: none;
  z-index: 3;
  color:#8F9BB3;
  font-size: 12px;
}

.page-item.active {
  cursor: pointer;
  z-index: 3;
  text-decoration: none;
  color: #222B45;
  font-size: 12px;
}
.prerious {
  cursor: pointer;
   /* position: absolute;  */
  top: 107.5vh;
  left: 50.2vw;
  text-decoration: none;
  z-index: 3;
  font-size: 14px;
  font-weight: 600;
  color:#46D7CB;
}
.prerious.disabled {
  cursor: default;
  text-decoration: none;
  /* z-index: 3; */
  font-size: 14px;
  font-weight: 600;
  color:#8F9BB3;
}

.next {
  cursor: pointer;
   /* position: absolute;  */
   top: 107.5vh;
  right: 4.2vw;
  text-decoration: none;
  /* z-index: 3; */
  font-size: 14px;
  font-weight: 600;
  color:#46D7CB;
}
.next.disabled {
  cursor: default;
  text-decoration: none;
  z-index: 3;
  font-size: 14px;
  font-weight: 600;
  color:#8F9BB3;
}

.css-1xszo77-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.css-kcnnn4-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
  border: 0px solid rgba(0, 0, 0, 0.6);
  background-color: white;
}
.css-kcnnn4-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

input[type=number] {
  -moz-appearance: textfield;
}
@media (max-width:992px){
  .responive-mobility-responsive{
    margin-top: 20px;
  }
  .enduranceTopData span{
    font-size:12px;
  }
  .responive-mobility-responsive{
    flex-direction: row;
  }
  
}
@media (min-width:768px) and (max-width:991px) {
  .enduranceProgress{
    max-width: 90%;
  }
  .enduranceProgress p{
    padding-right: 5px;
  }
  .circularProgressBoxWidth > div{
    max-width: 100px;
  }
}
@media (max-width:767.5px) {
  .enduranceProgress{
    max-width: 90%;
  }
  .strengthMain .enduranceProgress .scoreDriveProgressBar{
    width: 75%;
  }
  .circularProgressBoxWidth >div{
    max-width: 100px;
  }


}
@media (max-width: 501px) {
  .enduranceProgress{
    max-width: 146px;
  }
  .responive-mobility-responsive{
    flex-direction: column;
  }
  .responive-mobility-column{
    width: 100% !important;
    margin-bottom: 40px;
  }
  .responive-mobility-column:last-child{
    margin-bottom: 0;
  }
}