@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

@media (min-height: 1181px) and (max-height: 1368px) {
  .chatbox {
    height: 83vh;
  }
  .chat_card_footer {
    bottom: 0% !important;
  }

}
@media (min-height: 1100px) and (max-height: 1181px) {
  .chatbox {
    height: 78vh;
  }
  .chat_card_footer {
    bottom: 0% !important;
  }
}
@media (min-height: 1024px) and (max-height: 1100px) {
  .chatbox {
    height: 78vh;
  }
  .chat_card_footer {
    bottom: 0% !important;
  }

}
@media (min-height: 915px) {
  .chat_card_footer {
    bottom: 5%;
  }
}

@media (min-height: 914px) and (max-height: 916px) {
  .chatbox {
    height: 78vh;
  }
  .chat_card_footer {
    bottom: 0% !important;
  }
  .messageBox_recipient {
    width: 290px;
  }
}
@media (min-height: 895px) and (max-height: 896px) {
  .chatbox {
    height: 52vh;
  }
  .chat_card_footer {
    bottom: 25% !important ;
  }
}
@media (min-height: 884px) and (max-height: 896px) {
  .chatbox {
    height: 76vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
    width: 360px;
  }
}
@media (min-height: 883px) and (max-height: 884px) {
  .chatbox {
    height: 74vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
    width: 360px;
  }
}
@media (min-height: 801px) and (max-height: 883px) {
  .chatbox {
    height: 74vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
    width: 360px;
  }
}
@media (min-height: 741px) and (max-height: 800px) {
  .chatbox {
    height: 72vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
    width: 360px;
  }
}
@media (min-height: 738px) and (max-height: 740px) {
  .chatbox {
    height: 70vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
    width: 360px;
  }
  .messageBox_recipient {
    width: 290px;
  }
}
@media (min-height: 736px) and (max-height: 738px) {
  .chatbox {
    height: 70vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
  }
}
@media (min-height: 719px) and (max-height: 736px) {
  .chatbox {
    height: 70vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
  }
}
@media (min-height: 701px) and (max-height: 719px) {
  .chatbox {
    height: 68vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
  }
}

@media (min-height: 666px) and (max-height: 700px) {
  .chatbox {
    height: 68vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
  }
}
@media (min-height: 600px) and (max-height: 666px) {
  .chatbox {
    height: 66vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
  }
}
@media (min-height: 560px) and (max-height: 599px) {
  .navigation-scrollbar {
    height:90vh;
  }
  .chatbox {
    height: 63vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
  }
  
  .drawerContentStyles .MuiTabPanel-root {
    padding-bottom: 16px;
  }
}
@media (min-height: 500px) and (max-height: 559px) {
  .navigation-scrollbar {
    height: 90vh;
  }
  .chatbox {
    height: 59vh;
  }
  .chat_card_footer {
    bottom: 0 !important ;
  }
  
  .drawerContentStyles .MuiTabPanel-root {
    padding-bottom: 16px;
  }
}
@media (max-height: 499px) {
  .navigation-scrollbar {
    height: 90vh;
  }
}

@media only screen and (min-device-width: 1566px) {
}

@media only screen and (min-device-width: 1367px) {
}
@media only screen and (min-device-width: 1280px) {
  .ugselect {
    padding: 4px 10px;
  }
}
@media only screen and (max-device-width: 1280px) {
  .ugselect {
    font-size: 12px;
  }
  .jss34 {
    font-size: 12px;
  }
  .slick-slider {
    width: 58vw;
  }
}

@media only screen and (max-device-width: 1200px) {
  .custom-scrollbar {
    height: 20.1vmax;
  }
  .tiles_custom_scrollbar {
    height: 26vmax;
  }
}
@media only screen and (max-device-width: 1199px) {
  .overviewTilesSlider .progressVisualPart_overview {
    height: 14px;
  }
  .overviewTilesSlider .mainBox_overview {
    top: -4px;
  }
}

@media only screen and (max-device-width: 1140px) {
  label[data-shrink="false"]
    + .MuiInputBase-formControl
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding-bottom: 11px;
  }
}

@media only screen and (max-device-width: 1100px) {
  .slick-slider {
    width: 54vw;
  }
}

@media only screen and (max-device-width: 990px) {
  .slick-slider {
    width: 50vw;
  }
}
@media only screen and (min-device-width: 892px) and (max-device-width: 949px) {
  .gridItembelow950_pictureLayout .MuiContainer-root {
    box-shadow: inset 0 0 2px 32px #101426;
  }
}
@media only screen and (max-device-width: 970px) {
  .ugselect {
    padding: 0 4px;
  }
}

@media only screen and (max-device-width: 949px) {
  /* picture layout */
  .pictureLayout .mui_headerForPictureLayout {
    width: 100%;
    background: #101426;
    left: 0;
    /* box-shadow:  0 0 2px 32px #101426; */
  }
  .gridContainerbelow950_pictureLayout_parent {
    background: #101426;
  }
  .gridContainerbelow950_pictureLayout {
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 100%;
  }
  .gridContainerbelow950_pictureLayout .MuiGrid-item {
    max-width: 100%;
    flex-direction: column;
    flex: 100%;
    width: 100%;
  }
  .gridItembelow950_pictureLayout .MuiContainer-root {
    position: absolute;
    top: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 100%;
    opacity: 1;
    /* z-index: -1; */
    /* display: none; */
    /* background-size: cover; */
  }

  .gridItembelow950_pictureLayout .MuiContainer-root > div {
    display: none;
  }
  .gridContainerbelow950_pictureLayout  header img {
    filter: invert(1) !important;
  }
  .signInScreen_responsive {
    position: relative;
    z-index: 1;
    background: transparent !important;
  }
  .signInScreen_responsive p {
   color: #fff;
  }
  .signInScreen_responsive label {
    color: #dde1e8;
    font-size: 16px;
  }
}

@media only screen and (max-device-width: 900px) {
  .slick-slider {
    width: 48vw;
  }
}
/* .gridBetween800to900 {
   display: flex;
   flex-wrap: wrap;
} */
.gridBetween768to899 > .MuiGrid-item {
  flex: 50%;
}

@media only screen and (max-device-width: 850px) {
  .slick-slider {
    width: 46vw;
  }
}

@media only screen and (max-device-width: 768px) {


  /* Drawer gradient Styles -- os */
  .MuiDrawer-paper {
    background: linear-gradient(to bottom, #46d7cb, #d8cdcd, #46d7cb);
  }
  .main {
    display: block;
  }
  .css-2dum1v-MuiDrawer-docked {
    transition: 0.5s all;
  }
  .css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
    transition: 0.5s all;
  }
  .css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper {
    transition: 0.6s all;
  }

  .slick-slider {
    width: 40vw;
  }

  .pageHeading {
    font-size: 20px;
  }
}

@media only screen and (max-device-width: 767px) {
  /* .logoImg {
    max-width: 30px;
  } */
  /* .header-hamburger {
    display: none;
  } */
  /* main {
    margin-left: 0 !important;
  } */

}

@media only screen and (max-device-width: 736px) {
  .bloodScore_responsive {
    flex-wrap: wrap;
  }

  .bloodScore_responsive > .MuiGrid-item {
    flex-basis: 33%;
    max-width: 33%;
  }
  .topGridContainer_review_bloodwork_responsive {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .topGridItem_review_bloodwork_responsive {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-device-width: 640px) and (max-device-width: 949px) {
  .signInScreen_responsive form {
    margin: auto;
    width: 75%;
  }
}
@media (max-width: 599.95px) {
  .mui_tablist_top .MuiTabs-scrollButtons {
    display: flex;
  }
  .mui_tablist_top .MuiTabs-scrollButtons .MuiSvgIcon-fontSizeSmall {
    font-size: 28px;
  }
  .mui_sub_tablist .MuiTabs-scrollButtons {
    display: flex;
  }
  .mui_sub_tablist .MuiTabs-scrollButtons .MuiSvgIcon-fontSizeSmall {
    font-size: 23px;
  }
  .mui_reportTabList .MuiTabs-scrollButtons {
    display: flex;
  }
  .mui_reportTabList .MuiTabs-scrollButtons .MuiSvgIcon-fontSizeSmall {
    font-size: 23px;
  }
}

/* body composition grid added custom device size */
.gridBelow641BodyComp_responsive {
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 0;
  width: 100%;
  margin: 0;
}
.gridBelow641BodyComp_responsive .gridBelow641BodyComp_responsive_mob {
  padding: 16px 0;
  flex: 100%;
  max-width: 100%;
}

/* Tiles grid added custom device size */
.gridbelow700_tiles_responsive > .MuiGrid-item {
  flex-basis: 100%;
  max-width: 100%;
}
@media only screen and (max-device-width: 640px) {
  .bc_rightSidePictureBox .grid640_BodyCompNavHeader_responsive_mob {
    justify-content: space-between;
  }
  .bc_rightSidePictureBox
    .grid640_BodyCompNavHeader_responsive_mob
    .MuiGrid-item {
    flex: 0;
  }
}

@media only screen and (min-device-width: 500px) and (max-device-width: 640px) {
  .grid640_BodyCompPicture_responsive_mob {
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
  }
  .grid640_BodyCompPicture_responsive_mob .MuiGrid-item {
    flex-direction: row;
    flex: 1;
  }
}

@media only screen and (max-device-width: 600px) {
  .gridContainer_bloodworkDetailedTile_responsive > .MuiGrid-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-device-width: 550px) {
  .grid_BodyCompAddPicture_responsive_mob {
    flex-direction: column;
  }

  .grid_BodyCompAddPicture_responsive_mob .MuiGrid-item {
    max-width: 100%;
  }
}

@media only screen and (min-device-width: 501px) and (max-device-width: 899px) {
  .gridSubContainer_bloodwork_responsive > .MuiGrid-item {
    /* padding-left: 32px; */
    max-width: 100%;
    flex-direction: column;
    flex: 100%;
  }
}

@media only screen and (max-device-width: 500px) {
  .bloodScore_responsive > .MuiGrid-item {
    flex-basis: 50%;
    max-width: 50%;
  }

  .gridContainer_bloodwork_responsive {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .gridContainer_bloodwork_responsive > .gridItem_bloodwork_responsive {
    padding: 16px 0;
    flex: 100%;
    max-width: 100%;
  }
  /* .gridSubContainer_bloodwork_responsive .MuiGrid-item {
    padding: 16px 0;
    flex: 100%;
    max-width: 100%;
  } */
}

@media only screen and (max-device-width: 480px) {
}

@media only screen and (max-device-width: 376px) {
  .grid375_responsive_mob {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .grid375_responsive_mob > .MuiGrid-item {
    padding-left: 32px;
    max-width: 100%;
    flex-direction: column;
    flex: 100%;
  }
  .gridSubContainer_bloodwork_responsive {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
  .gridSubContainer_bloodwork_responsive > .MuiGrid-item {
    max-width: 100%;
    flex-direction: column;
    flex: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
